/* This is the remote version of the theme, should work and be cool */

/* top bar in freinds section */
.theme-dark .themed_b152d4 {
    background-color: var(--Crust);
}

/* server channel list float thing wha wah */
#channels {
    margin: var(--float-margin);
    box-shadow: 0rem 0rem var(--glow-radius) 0rem var(--accent-color); 
    border-radius: var(--corner-radius);
}

/* Dm section DM list float scroller__4b984 thin_b1c063 scrollerBase_dc3aa9 fade_ba0fa0 */
.scroller__4b984 {
    margin: var(--float-margin);
    box-shadow: 0rem 0rem var(--glow-radius) 0rem var(--accent-color);
    border-radius: var(--corner-radius);
}

/* Message send box */
.themedBackground__6b1b6  {
    border-radius: var(--corner-radius);
    border: 0.2rem solid var(--surface0);
    box-shadow: 0rem 0rem 0.5rem 0rem var(--accent-color) !important; ;
}

/* User area, it has an aria-lable but that seems complicated to use*/
.container_ca50b9 {
    border-radius: 0px var(--corner-radius) 0px 0px !important;
    /* There is like a 1px gap at the bottom which this fills */
    box-shadow: 0rem 1rem 0rem 0rem var(--background-secondary-alt)
}
/* Second part of the user area, this is important dont delete it */
.panels__58331 {
    background-color: transparent !important;
}
/* Game activity */
.panel_bd8c76 {
    border-radius: 0px var(--corner-radius) 0px 0px !important;
    /* There is like a 1px gap at the bottom which this fills */
    box-shadow: 0rem 1rem 0rem 0rem var(--background-secondary-alt)
}


/* Ashlet code */
/* this is the part that i did :) - Smudge */

/* Make button trans on hover only in settings menu and with main brand colour. */
#my-account-tab .colorBrand_b2253e:hover {
    /* replace linera-gradient with var(--trans-flag) */
    background: var(--trans-flag);
    color: var(--mantle);
}


/* silly little server member box floating thing
You may notice it uses the same code stolen from my good friend Knaughty earlier in this document.
You would be right.*/
.members__9f47b {
    margin: var(--float-margin);
    box-shadow: 0rem 0rem var(--glow-radius) 0rem var(--accent-color); 
    border-radius: var(--corner-radius);
    width: 85%;
}

/* This is my insatiable ranting about the disgusting little line on the friends right thingy on the home screen i couldnt figure out how to fix */
.nowPlayingColumn_f5023f {
    margin: var(--float-margin);
    box-shadow:0rem 0rem var(--glow-radius) 0rem var(--accent-color);
    border-radius: var(--corner-radius);
} 
.container__0a6a9 {
    border-radius: var(--corner-radius);
    margin-left:0px;
    border-left:0px;
}
.scroller__00e7e {
    border-left:0px;
}

/* Me remembering the user infobox and wanting to make it nor/mal ;) */
/* The first three is me trying to figure out how to make it float and glow and all that */
.userPanelOuter__880e5 {
    margin: var(--float-margin);
    border-radius: var(--corner-radius);
    width: 90%;
    height: 96%;
}
.none__51a8f {
    border-radius: var(--corner-radius);
    box-shadow: 0rem 0rem var(--glow-radius) 0rem var(--accent-color);
}
.userPanelInner_eddf4c {
    border-radius: var(--corner-radius);
    background: var(--mantle);
    margin-bottom: -1px;
}

/*fixes the server glowing*/
.scroller__3d071 {
    border-radius:0%;
}

/*shirnk nitro trial badge*/
.premiumTrialBadge_f2180d {
    width:27% ;
    height:10% ;
    overflow: hidden;
    background-color: var(--mauve)
} 

/*Server Icon Recolouring*/
.circleIconButton_d8df29 {
    color: var(--mauve);
    background-color: var(--mantle);
}
.circleIconButton_d8df29:hover {
    color: var(--mantle);
    background-color: var(--mauve);
}

/* Me code */



